<div class="content">
  <section class="card">
    <header><h1>{{title}}</h1><h5>Posted by
        {{user.name}},
        {{date_created}}</h5></header>
    <p>{{content}}</p>
    <div>
    </div>

    
  </section>
  
  {{#if comments}}
    <section class="card">
      <header><h5>Comments:</h5></header>
      
    {{#each comments as |comment|}}
      <div class="comments">

        <div class="comment-wrapper">
          <div class="single-comment">
            <p>{{comment_text}}</p>
            <h5>Posted by {{user.name}}, {{date_created}}</h5>
          </div>
        </div>
      </div>
    {{/each}}
    </section>
 {{/if}}

  {{#if logged_in}}
    <form class="comment-form" id="new-comment-form">
              <label for="comment-text">Your comment:</label>
<div class="text-area">
        <textarea class="input comment-input" type="text" id="comment-text" rows="5" cols="40" />Write something here</textarea>
      </div>
      <div class="control">
        <button type="submit" class="button is-link">Submit</button>
      </div>
    </form>
  {{/if}}
</div>

<script src="/js/comments.js"></script>